<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuites">
 <test thread-count="5" name="RegressionTest"> 
    <parameter name = "password" value="user2test"/>
    <classes>
      <class name="Regression.TC002"/>
      <class name="Regression.TestXpath"/>
    </classes>
  </test><!-- Test -->
  <test thread-count="5" name="SmokeTest">
    <parameter name = "testType" value="Smoke_Test"/>
    <classes>
      <class name="SmokeTest.TC002"/>
      <class name="SmokeTest.TestXpath"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
